div{
    background-color: blueviolet;
    width: 20px;
    height: 25px;
}
p{
    background-color: #5487c0;
    width: 25px;
    height: 25px;

}
a{
    background-color: aquamarine;
    width: 25px;
    height: 25px;
}