*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 1200px;
}

.container{
    display: flex;
    justify-content: center;
}

.ejemplo{
    display: flex;
    width: 800px;
    margin: 50px 0;
    background-color: #d6e9fe;
    justify-content: space-around;
}

.item img{
    display: block;
}


  